

.catalog_t{
  display: flex;
  justify-content: space-around;
  &_zad{
      display: flex;
      &_t{
          display: flex;
          color: #030303;
          text-align: center;
          text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          font-size: 60px;
          font-family: PT Serif;
          font-weight: 200;
          justify-content: center;
          padding-top: 20px;
      }
}
}

.sbor_tekst{
  display: flex;
  justify-content: space-around;
  background: #D9D9D9;
  &_zad{
      display: flex;
      &_t{
          display: flex;
          color: #000;
          text-align: center;
          text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          font-size: 66px;
          font-weight: 200;
          justify-content: center;
      }
}
}
  $animationSpeed: 30s;
  
  // Animation
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
  }
  
  
  // Styling
  .sliderS {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 300px;
    margin: auto;
    overflow:hidden;
    display: flex;
    justify-content: center;
    
    
    
    .slideS-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(250px * 14);
    }
    
    .slideS {
      height: 100px;
      width: 250px;
    }
}


.niz_sliderS{
display: flex;
color: #000;
text-align: center;
font-size: 40px;
font-family: PT Serif;
flex-direction: column;
padding-top: 20px;
padding-bottom: 50px;
}

.tulp_tekst{
  display: flex;
  justify-content: space-around;
  background: #D9D9D9;
  &_zad{
      display: flex;
      &_t{
          display: flex;
          color: #000;
          text-align: center;
          text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          font-size: 66px;
          font-weight: 200;
          justify-content: center;
      }
}
}
      $animationSpeed: 30s;
      
      // Animation
      @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-250px * 7))}
      }
      
      
      // Styling
      .sliderT {
        background: white;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
        height: 300px;
        margin: auto;
        overflow:hidden;
        display: flex;
        justify-content: center;
        
        
        .slideT-track {
          animation: scroll $animationSpeed linear infinite;
          display: flex;
          width: calc(250px * 14);
        }
      }
    
.niz_sliderT{
  display: flex;
  color: #000;
  text-align: center;
  font-size: 40px;
  font-family: PT Serif;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 50px;
}
    

.gip_tekst{
  display: flex;
  justify-content: space-around;
  background: #D9D9D9;
  &_zad{
      display: flex;
      &_t{
          display: flex;
          color: #000;
          text-align: center;
          text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          font-size: 66px;
          font-weight: 200;
          justify-content: center;
      }
}
}        
          $animationSpeed: 30s;
          
          // Animation
          @keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(calc(-250px * 7))}
          }
          
          
          // Styling
          .sliderG {
            background: white;
            box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
            height: 300px;
            margin: auto;
            overflow:hidden;
            display: flex;
            justify-content: center;
            
            
            .slideG-track {
              animation: scroll $animationSpeed linear infinite;
              display: flex;
              width: calc(250px * 14);
            }
          }
        
.niz_sliderG{
      display: flex;
      color: #000;
      text-align: center;
      font-size: 40px;
      font-family: PT Serif;
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 50px;
}

.bottom_K{
    position: absolute;
    width: 1920px;
    height: 295px;
    left: 30px;
    top: 3886px;
    
    background: #EDEDED;
}







@media (max-width: 992px) {


  .catalog_t{
    display: flex;
    justify-content: space-around;
    &_zad{
        display: flex;
        &_t{
            display: flex;
            color: #030303;
            text-align: center;
            text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            font-size: 18px;
            font-family: PT Serif;
            font-weight: 200;
            justify-content: center;
            padding-top: 20px;
        }
  }
  }
  
  .sbor_tekst{
    display: flex;
    justify-content: space-around;
    background: #D9D9D9;
    &_zad{
        display: flex;
        &_t{
            display: flex;
            color: #000;
            text-align: center;
            text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            font-size: 28px;
            font-weight: 200;
            justify-content: center;
        }
  }
  }
  
  
  
  
  
    $animationSpeed: 30s;
    
    // Animation
    @keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(calc(-250px * 7))}
    }
    
    
    // Styling
    .sliderS {
      background: white;
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
      height: 300px;
      margin: auto;
      overflow:hidden;
      display: flex;
      justify-content: center;
      
      
      
      .slideS-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(250px * 14);
      }
      
      .slideS {
        height: 100px;
        width: 250px;
      }
  }
  
  
  .niz_sliderS{
  display: flex;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-family: PT Serif;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 50px;
  }
  
  
  
  
  
  .tulp_tekst{
    display: flex;
    justify-content: space-around;
    background: #D9D9D9;
    &_zad{
        display: flex;
        &_t{
            display: flex;
            color: #000;
            text-align: center;
            text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            font-size: 28px;
            font-weight: 200;
            justify-content: center;
        }
  }
  }
      
      
        
        $animationSpeed: 30s;
        
        // Animation
        @keyframes scroll {
          0% { transform: translateX(0); }
          100% { transform: translateX(calc(-250px * 7))}
        }
        
        
        // Styling
        .sliderT {
          background: white;
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
          height: 300px;
          margin: auto;
          overflow:hidden;
          display: flex;
          justify-content: center;
          
          
          .slideT-track {
            animation: scroll $animationSpeed linear infinite;
            display: flex;
            width: calc(250px * 14);
          }
        }
      
  .niz_sliderT{
    display: flex;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: PT Serif;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 50px;
  }
      
  
  .gip_tekst{
    display: flex;
    justify-content: space-around;
    background: #D9D9D9;
    &_zad{
        display: flex;
        &_t{
            display: flex;
            color: #000;
            text-align: center;
            text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            font-size: 28px;
            font-weight: 200;
            justify-content: center;
        }
  }
  }
  
  
  
          
          
            
            $animationSpeed: 30s;
            
            // Animation
            @keyframes scroll {
              0% { transform: translateX(0); }
              100% { transform: translateX(calc(-250px * 7))}
            }
            
            
            // Styling
            .sliderG {
              background: white;
              box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
              height: 300px;
              margin: auto;
              overflow:hidden;
              display: flex;
              justify-content: center;
              
              
              .slideG-track {
                animation: scroll $animationSpeed linear infinite;
                display: flex;
                width: calc(250px * 14);
              }
            }
          
  .niz_sliderG{
        display: flex;
        color: #000;
        text-align: center;
        font-size: 20px;
        font-family: PT Serif;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 50px;
  }
  
  
  
  
  .bottom_K{
      position: absolute;
      width: 1920px;
      height: 295px;
      left: 30px;
      top: 3886px;
      
      background: #EDEDED;
  }
}